.cover__title {
    position: absolute;
    text-align: center;

    top: 43%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
}

@media screen and (min-width: 1281px) {
    .cover__title {
        font-size: calc(1em + 5vw);
    }
}

@media screen and (max-width: 767px) {
	.cover__title  {
        font-size: calc(1em + 5vw);
    }
}