.intro__text {
	margin-top: 40px;
	max-width: 690px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.63;
	color: #FFFFFF;
}

@media screen and (min-width: 1281px) {
	.intro__text {
		max-width: 70%;
		font-size: 24px;
	}
}