.lead__caption {
	align-self: flex-start;
	color: #FFFFFF;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
	.lead__caption {
		margin-left: 24px;
	}

}

@media screen and (max-width: 425px) {
	.lead__caption {
		margin-left: 16px;
	}
}